@{
    ViewData["Title"] = "Home Page";
}

<h3>Stojić-Matić Žarko</h3>
He is the oldest producer of wine and brandy in Herzegovina. Among the first, in 1982, he builds a modern cellar and registers himself as producer of wine and brandy.  Currently, he owns 2 hectares of his own, and a modern vineyards plantation.
Several years ago he was among the first in Herzegovina to plant a vineyard with Cabernet sauvignon and Chardonnay varieties, the most famous world varieties out of which he gains wines of great quality.
Besides his own plantations, Stojić buys off Žilavka and Blatina from the best vineyards of his neighbours. The cellar is modern and air-conditioned. It is equipped with the latest machines for grapes elaboration, inox tanks and vats for fermentation, wooden barrels and small barrique barrels. Each of the vessels have cooling and heating systems.
The production of white wines is done exclusively in inox vessels, while the red wines are fermented, aged, and kept in wooden and barrique barrels.
<br /><br />
Il est le plus ancien producteur de vin et d'eau-de-vie en Herzégovine. Premier producteur en 1982, il construit une cave moderne et s'inscrit comme producteur de vin et d'eau-de-vie. À l'heure actuelle, il possède 2 hectares, et une plantation de vignobles moderne.
Il y a plusieurs années, il était parmi les premiers en Herzégovine à planter un vignoble avec les variétés Cabernet sauvignon et Chardonnay, les variétés mondiales les plus célèbres avec lesquelles il produit des vins de grande qualité.
Outre ses propres plantations, Stojić achète Žilavka et Blatina des meilleurs vignobles de ses voisins. La cave est moderne et climatisée. Il est équipé des dernières machines pour l'élaboration des raisins, des réservoirs inox et des cuves pour la fermentation, des barils en bois et de petits barils. Chacun des sites disposent de systèmes de refroidissement et de chauffage.
La production de vins blancs se fait exclusivement dans des barriques inox, tandis que les vins rouges sont fermentés, vieillis et conservés en barriques de bois.


<div class="bgimg1" style="background-image:url('../images/DSC_0864.jpg')">
    <div style="margin-top:0px; margin-left:20px;margin-right:20px;color:forestgreen;background-color:whitesmoke;opacity:0.5"><h1>Bosnia Herzegovina product</h1></div>
</div>
<div class="bgimg1" style="background-image:url('../images/DSC_0862.jpg')">
    <div style="margin-top:0px; margin-left:20px;margin-right:20px;color:forestgreen;background-color:whitesmoke;opacity:0.5"><h1>20 000 m2 vineyard area</h1></div>
</div>
<div class="bgimg1" style="background-image:url('../images/DSC_0852.jpg')">
    <div style="margin-top:0px;padding-top:0px; margin-left:20px;margin-right:20px; color:forestgreen;background-color:whitesmoke;opacity:0.5"><h1>Blatina 0,75 l, Chardonnay 0,75 l, Cabernet souvignon 0,75 l.</h1></div>
</div>
<div class="bgimg1" style="background-image:url('../images/DSC_0845.jpg')"></div>
<div class="bgimg1" style="background-image:url('../images/DSC_0846.jpg')"></div>
<div class="bgimg1" style="background-image:url('../images/DSC_0848.jpg')"></div>
<div class="bgimg1" style="background-image:url('../images/DSC_0858.jpg')">
    <div style="margin-top:0px;padding-top:0px; margin-left:20px;margin-right:20px; color:forestgreen;background-color:whitesmoke;opacity:0.5"><h1>EU Certification for exportation</h1></div>
</div>
<div class="bgimg1" style="background-image:url('../images/DSC_0860.jpg')"></div>

<div class="bgimg1" style="background-image:url('../images/Last.jpg');height:750px">
    <div style="margin-top:0px;padding-top:0px; margin-left:20px;margin-right:20px; color:forestgreen;background-color:whitesmoke;opacity:0.5"><h1>High quality product with numerus distinction</h1></div>
</div>
