@{
    ViewData["Title"] = "Product";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Blatina.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p style="margin-left:180px;color:forestgreen">
                    Blatina 2013, 30 000 bottles available for export
                    <a class="btn btn-default" href="Contact">
                        Contact
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Zilavka.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p style="margin-left:180px;color:forestgreen">
                    Cabernet Sauvignon, 7000 bottles 
                    <a class="btn btn-default" href="Contact">
                        Contact
                    </a>
                </p>
            </div>
        </div>


       
      
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Production</h2>
        <ul>
            <li><h4>Blatina 0,75 l : 30 000 bottles available</h4></li>
            <li><h4>Cabernet souvignon 0,75 l : 7000 bottles</h4></li>
            <li><h4>Chardonnay 0,75 l</h4></li>
        </ul>
    </div>
</div>
